In [1]:
import pandas as pd
import numpy as ny
dataset = pd.read_csv("Placement.csv")
from Univariate import Univariate
quan, qual = Univariate.getQuanQual(dataset)

In [11]:
dataset.describe()[]

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [42]:
descriptive = pd.DataFrame(index=["Mean", "Median", "Mode", "0%", "1%", "Q1:25%", "Q2:50%", "Q3:75%", "99%", "Q4:100%", "IQR","Lesser Outliner", "Higher Outliner", "min", "max" ], columns = quan)
for eachField in quan:   
    descriptive[eachField]["Mean"] = dataset[eachField].mean()
    descriptive[eachField]["Median"] = dataset[eachField].median()
    descriptive[eachField]["Mode"] = dataset[eachField].mode()[0]
    descriptive[eachField]["0%"] = ny.percentile(dataset[eachField], 0)
    descriptive[eachField]["1%"] = ny.percentile(dataset[eachField], 1)
    descriptive[eachField]["Q1:25%"] = ny.percentile(dataset[eachField], 25)
    descriptive[eachField]["Q2:50%"] = ny.percentile(dataset[eachField], 50)
    descriptive[eachField]["Q3:75%"] = ny.percentile(dataset[eachField], 75)
    descriptive[eachField]["99%"] = ny.percentile(dataset[eachField], 99)
    descriptive[eachField]["Q4:100%"] = ny.percentile(dataset[eachField], 100)
    # IQR
    descriptive[eachField]["IQR"] =   ny.percentile(dataset[eachField], 75) - ny.percentile(dataset[eachField], 25)
    descriptive[eachField]["Lesser Outliner"] =  ny.percentile(dataset[eachField], 25) - ( 1.5 * (ny.percentile(dataset[eachField], 75) - ny.percentile(dataset[eachField], 25)))
    descriptive[eachField]["Higher Outliner"] = ( ny.percentile(dataset[eachField], 75) + ( 1.5 * (ny.percentile(dataset[eachField], 75) - ny.percentile(dataset[eachField], 25))))
    descriptive[eachField]["min"] =   dataset[eachField].min()
    descriptive[eachField]["max"] =   dataset[eachField].max()

In [43]:
descriptive

                  sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean                108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median              108       67       65       66       71       62  265000
Mode                  1       62       63       65       60     56.7  300000
0%                    1    40.89       37       50       50    51.21     NaN
1%                 3.14    43.14    40.28   50.968  50.0672  51.4682     NaN
Q1:25%             54.5     60.6     60.9       61       60   57.945     NaN
Q2:50%              108       67       65       66       71       62     NaN
Q3:75%            161.5     75.7       73       72     83.5   66.255     NaN
99%              212.86       87    91.86    83.86       97  76.1142     NaN
Q4:100%             215     89.4     97.7       91       98    77.89     NaN
IQR                 107     15.1     12.1       11     23.5     8.31     NaN
Lesser Outliner    -106    37.95    42.75     44.5    24.75    45.48     NaN
Higher Outliner     322    98.35    91.15     88.5   118.75    78.72     NaN
min                   1    40.89       37       50       50    51.21  200000
max                 215     89.4     97.7       91       98    77.89  940000