In [1]:
import pandas as pd
import numpy as ny
dataset = pd.read_csv("Placement.csv")
from Univariate import Univariate
quan, qual = Univariate.getQuanQual(dataset)

In [2]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [10]:
descriptive = Univariate.getDescriptiveWithUnivariatesValues(dataset, quan)

In [11]:
outlineFields = Univariate.findOutlinerFields(descriptive, quan)

In [5]:
dataset = Univariate.replaceOutline(outlineFields, dataset, descriptive)

In [6]:
freqTableList = []
for quanColumnName in quan:
    freqTableList.append(Univariate.freqTable(dataset, quanColumnName))

In [7]:
freqTableList

[     uniqueValue  frequency  relative_frequency    cumsum
 0            215          1            0.004651  0.004651
 1             80          1            0.004651  0.009302
 2             78          1            0.004651  0.013953
 3             77          1            0.004651  0.018605
 4             76          1            0.004651  0.023256
 ..           ...        ...                 ...       ...
 210          140          1            0.004651  0.981395
 211          139          1            0.004651  0.986047
 212          138          1            0.004651  0.990698
 213          137          1            0.004651  0.995349
 214            1          1            0.004651  1.000000

 [215 rows x 4 columns],
      uniqueValue  frequency  relative_frequency    cumsum
 0          62.00         11            0.106796  0.106796
 1          63.00         10            0.097087  0.203883
 2          67.00          9            0.087379  0.291262
 3          52.00          9            0.087379  0.378641
 4          73.00          9            0.087379  0.466019
 ..           ...        ...                 ...       ...
 98         80.60          1            0.009709  2.048544
 99         65.20          1            0.009709  2.058252
 100        80.40          1            0.009709  2.067961
 101        59.96          1            0.009709  2.077670
 102        78.50          1            0.009709  2.087379

 [103 rows x 4 columns],
     uniqueValue  frequency  relative_frequency    cumsum
 0         63.00         14            0.153846  0.153846
 1         62.00         12            0.131868  0.285714
 2         67.00          9            0.098901  0.384615
 3         60.00          9            0.098901  0.483516
 4         64.00          8            0.087912  0.571429
 ..          ...        ...                 ...       ...
 86        60.80          1            0.010989  2.318681
 87        89.83          1            0.010989  2.329670
 88        66.60          1            0.010989  2.340659
 89        87.60          1            0.010989  2.351648
 90        91.00          1            0.010989  2.362637

 [91 rows x 4 columns],
     uniqueValue  frequency  relative_frequency    cumsum
 0         65.00         20            0.224719  0.224719
 1         66.00         13            0.146067  0.370787
 2         72.00         12            0.134831  0.505618
 3         64.00         11            0.123596  0.629213
 4         58.00          9            0.101124  0.730337
 ..          ...        ...                 ...       ...
 84        66.40          1            0.011236  2.370787
 85        64.33          1            0.011236  2.382022
 86        70.67          1            0.011236  2.393258
 87        64.21          1            0.011236  2.404494
 88        77.25          1            0.011236  2.415730

 [89 rows x 4 columns],
     uniqueValue  frequency  relative_frequency  cumsum
 0         60.00         14                0.14    0.14
 1         80.00          8                0.08    0.22
 2         75.00          7                0.07    0.29
 3         67.00          7                0.07    0.36
 4         55.00          6                0.06    0.42
 ..          ...        ...                 ...     ...
 95        95.50          1                0.01    2.11
 96        50.48          1                0.01    2.12
 97        57.20          1                0.01    2.13
 98        58.06          1                0.01    2.14
 99        55.67          1                0.01    2.15

 [100 rows x 4 columns],
      uniqueValue  frequency  relative_frequency    cumsum
 0          56.70          3            0.014634  0.014634
 1          61.29          2            0.009756  0.024390
 2          64.08          2            0.009756  0.034146
 3          66.94          2            0.009756  0.043902
 4          60.44          2            0.009756  0.053659
 ..           ...        ...                 ...       ...
 200        74.56          1            0.004878  1.029268
 201        73.52          1            0.004878  1.034146
 202        52.81          1            0.004878  1.039024
 203        56.81          1            0.004878  1.043902
 204        55.50          1            0.004878  1.048780

 [205 rows x 4 columns],
     uniqueValue  frequency  relative_frequency    cumsum
 0      300000.0         22            0.611111  0.611111
 1      250000.0         18            0.500000  1.111111
 2      390000.0         15            0.416667  1.527778
 3      240000.0         15            0.416667  1.944444
 4      260000.0          7            0.194444  2.138889
 5      200000.0          6            0.166667  2.305556
 6      360000.0          6            0.166667  2.472222
 7      265000.0          6            0.166667  2.638889
 8      220000.0          5            0.138889  2.777778
 9      275000.0          5            0.138889  2.916667
 10     210000.0          4            0.111111  3.027778
 11     270000.0          4            0.111111  3.138889
 12     216000.0          3            0.083333  3.222222
 13     350000.0          3            0.083333  3.305556
 14     230000.0          2            0.055556  3.361111
 15     218000.0          2            0.055556  3.416667
 16     252000.0          2            0.055556  3.472222
 17     236000.0          2            0.055556  3.527778
 18     204000.0          2            0.055556  3.583333
 19     280000.0          2            0.055556  3.638889
 20     276000.0          2            0.055556  3.694444
 21     290000.0          1            0.027778  3.722222
 22     336000.0          1            0.027778  3.750000
 23     264000.0          1            0.027778  3.777778
 24     287000.0          1            0.027778  3.805556
 25     380000.0          1            0.027778  3.833333
 26     295000.0          1            0.027778  3.861111
 27     340000.0          1            0.027778  3.888889
 28     233000.0          1            0.027778  3.916667
 29     225000.0          1            0.027778  3.944444
 30     255000.0          1            0.027778  3.972222
 31     268000.0          1            0.027778  4.000000
 32     320000.0          1            0.027778  4.027778
 33     231000.0          1            0.027778  4.055556
 34     285000.0          1            0.027778  4.083333
 35     278000.0          1            0.027778  4.111111]

In [8]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
std,62.209324,10.827205,10.586016,7.321524,13.275956,5.833385,54264.139179
min,1.000000,40.890000,42.750000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,91.150000,88.500000,98.000000,77.890000,390000.000000

In [9]:
outlineFields

(['hsc_p', 'degree_p', 'salary'], ['hsc_p'])

In [12]:
outlineFields

([], [])